* {
	margin: 0;
	padding: 0;

	-webkit-box-sizing: border-box;

	box-sizing: border-box;
}

body {
	font-size: 16px;
 	font-family:'Raleway', sans-serif;
	background-color:#1b1d35;
	color: #fff;
	height: 680px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
/*header*/ 
header {
	background-color: rgba(41, 50, 147, 0.4);
	width: 100%;
	padding: 10px;
	/*flex*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	/* separa los contenidos en iz y der*/
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	
}
header nav {
	width: 50%;
	/*flex*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	
}
header h4 a{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: #fff;
	text-decoration: none;
	
}
header nav a{
	color: #fff;
	background:#e87335;
	text-align: center;
	text-decoration: none;
	padding: 10px;
	-webkit-transition: 0.3s;
	-webkit-transition: 0.7s;
	transition: 0.7s;	
	/*flex*/
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;/*Que cubra todo el 100%*/	

}
header nav a:hover{
	background: #efa37b;
}
/*fin header*/
#cerrar{
	font-size: 20px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #b8711b;
}

#cerrar:hover{
	text-decoration: underline;
}

.contenedor {

	max-width: 500px;
	width: 90%;
	margin: auto;
	text-align: justify;
}
.contenido{
	background-color: rgba(41, 50, 147, 0.4);
	padding: 30px;
	margin-bottom: 20px;
}
.contenedor2{
	width: 1000px;
	height: auto;
	margin: auto;
	max-width: 90%;
}
.contenido2{
	height: auto;
}
.titulo {
	font-weight: 300;
	font-size: 30px;
	color: #b8711b;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 20px;
	
}

.border{
	border: none;
	margin-bottom: 15px;
	border-bottom: 4px solid #b8711b;
	background: none;
	color: none;
	
}
.formulario .form-group{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	margin-bottom: 10px;
	
}

.formulario input[type="text"],
.formulario input[type="password"],
.formulario .picker, .rol{
	padding: 10px;
	font-family: 'Raleway',sans-serif;
	font-size: 18px;
	border: none;
	max-height: 48px;
	vertical-align: top;
}
.picker{
	width: 220px;
}
.picker2{
	width: 100%;
}

.formulario .icono{
	padding: 15px;
	text-align: center;
	width:48px;
	max-height: 48px;
	font-size: 18px;
	line-height: 18px;
	background-color: #c8c8c8;
	display: inline-block;
	color: #6b6b6b;
	vertical-align: top;
}

.formulario .icono.izquierda{
	margin-right: 4px;
	border-radius: 3px 0 0 3px;
	height: 48px;
}

.formulario .usuario,
.formulario .password{
	width: calc(100% - 52px);
	border-radius: 0 3px 3px 0;
}

.formulario .password_btn{
	width: calc(100% - 105px);
}
.formulario .error ul{
	padding: 0 15px;
}

.formulario .error ul li{
	margin-bottom: 10px;
}

.formulario .submit-btn{
	padding: 15px;
	text-align: center;
	width: 48px;
	max-height: 48px;
	font-size: 18px;
	line-height: 18px;
	background: #679863;
	display: inline-block;
	color: #fff;
	background: #769863;
	cursor: pointer;
	margin-left: 4px;
	-webkit-transition: .4s;
	transition: .4s;
	
	border-radius: 0 3px 3px 0;
}
.formulario .submit-btn:hover{
	background-color: #406020;
}

.texto-registrate{
	text-align: center;
}
.texto-registrate a{
	display: block;
	font-size: 18px;
}

.contenido article{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 25px;
	background: #fff;
}
.contenido article:nth-last-child(2){
	margin-bottom: 30px;
}
.contenido article p{
	margin-bottom: 10px;
	color: #000;
}
.group-btn{
	display: inline-block;
	width: 100%;
	height: 48px;
	text-align: center;
	
}
.btn{
	padding: 10px;
	background-color: rgb(41, 50, 147);
	border-radius: 5px;
	color: #e87335;
}

/*estilos de carrito*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: #111;
}
.active {
	background-color: #4CAF50;
}
/*footer*/

footer{
	background-color: rgba(41, 50, 147, 0.4);
	height:auto;
	width: 100%;
	padding: 20px;
	/*Flex*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}


/* table*/
.warp{

	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;;
	border: 2px solid;
	font-weight: 600;
	margin-bottom: 20px;
	
}
/* estilo a agregar php*/
.table-responsive {
	text-align: center;
	
}

.table{
	-ms-flex-item-align: center;
	align-self: center;
}
.col{
	text-align: right;
}
.fila{
	width: 300px;
	text-align: center;
}
